ul.food-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 18px;
    margin-bottom: 18px;
}

ul.food-list li {
    flex: 0 0 calc(25% - 1rem);
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 12px;
    justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.container img {
    width: 310px;
    height: 280px;
    object-fit: cover;
    padding: -10px;
    margin: 0;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
}

.content {
    padding: 0.5rem 1rem;
    /* Equal spacing for the description */
    color: rgb(214, 24, 26);
    background-color: white;
    position: relative;
}

.favorite {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 1.2rem;
}

.rating {
    display: flex;
    font-size: 12px;
    margin: 0.2rem 0;
}

.rating .fa-star {
    color: black;
    font-size: small;
}

.rating .fa-star.checked {
    color: red;
    /* Color for fully filled stars */
}

.rating .fa-star.half-checked {
    background: linear-gradient(90deg, red 50%, black 50%);
    background-size: 1em;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}


li a:hover {
    opacity: 0.75;
    cursor: pointer;
}

/* Pink Heart */
.pink-heart {
    color: red;
}

/* Default Heart (e.g., gray) */
.default-heart {
    color: black;
}

.rating {
    display: flex;
    position: relative;
    font-size: 24px;
    /* Adjust the font size as needed */
}

.product-item-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.origins {
    flex: 9;

}

.origins span {
    border-radius: 2rem;
    background-color: white;
    color: gray;
    font-size: .8rem;
    margin-right: 0.3rem;
    display: inline-block;
}

.cook-time {
    font-size: 0.8rem;
    flex: 3;
    text-align: right;
}

.price {
    font-size: 0.8rem;
    flex: 4;
    color: gray;
    margin-top: .2rem;
}

.full-stars {
    color: gold;
    /* Color of full stars */
    display: flex;
}

.half-star {
    color: gold;
    /* Color of half star */
    display: flex;
}

.empty-stars {
    color: lightgray;
    /* Color of empty stars */
    display: flex;
}

.rating span {
    margin-right: 2px;
    /* Adjust the spacing between stars as needed */
}

/* Style the footer */
.footer {
    background-color: rgb(90, 87, 87);
    color: white;
    text-align: center;
    padding: 2px;
    font-size: small;
    margin-bottom: 0;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .footer {
        font-size: small;
        /* Adjust font size for smaller screens */
    }
}

@media (max-width: 480px) {
    .footer {
        font-size: small;
        /* Further reduce font size for mobile devices */
        flex-grow: 1;
    }
}