<app-not-found [visible]="!food" notFoundMessage="Product Not Found!" resetLinkText="Go To HomePage"></app-not-found>
<div *ngIf="food" class="container">
    <img [src]="food.imageUrl" [alt]="food.name">

    <div class="details">
        <div class="header">
            <span class="name" [ngClass]="{ 'red-text': food.favorite }">{{food.name}}</span>
            <span class="favorite" [ngClass]="food.favorite ? 'pink-heart' : 'default-heart'">
                &hearts;
            </span>
        </div>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <div class="rating">
            <span class="fa fa-star" [ngClass]="calculateStarClass(food.star, 1)"></span>
            <span class="fa fa-star" [ngClass]="calculateStarClass(food.star, 2)"></span>
            <span class="fa fa-star" [ngClass]="calculateStarClass(food.star, 3)"></span>
            <span class="fa fa-star" [ngClass]="calculateStarClass(food.star, 4)"></span>
            <span class="fa fa-star" [ngClass]="calculateStarClass(food.star, 5)"></span>
        </div>


        <div class="origins">
            <span *ngFor="let origin of food.origin">
                {{origin}}
            </span>
        </div>
        <div class="tagal">
            <app-tag [foodPagetags]="food.tags" justifyContent="start"></app-tag>
        </div>
        <div class="cook-time">
            <span>
                Time to cook about <strong>{{food.cookTime}}</strong> minutes.
            </span>
        </div>
        <div class="price">
            <span>
                <strong class="pri">Price : </strong> {{food.price | currency: 'INR' }}
            </span>
        </div>
        <button (click)="addToCart()"><strong>Add to Cart</strong> </button>
    </div>
</div>